body{
    background-color: #3D087B;
}

.main-container{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin-top: 4%;
    
    
}

.grid-container1{

    
    display: grid;
    
    width: 650px;
    height: 35rem;
    margin-left: 2rem;
    

}

.grid-container2{

    
    display: grid;
    
    width: 650px;
    height: 35rem;
    
}

#clock-pic{

    background-image: url(./assets/clock_logo.png);
    background-repeat: no-repeat;
    height: 53%;
    
    
}

#icon-container{

    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    height: 100%;
    width: 80%;
    

}

.icon-container-inner{
    
    width: 100%;
    height: 33%;
    position: relative;
}

.icon-container-options{

    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 25px;

}

#wakeUpTimeSelector{
    width: 125px;
    height: 30px;
    border-radius: 4px;
    margin-left: 20px;
}

#lunchTimeSelector{
    width: 125px;
    height: 30px;
    border-radius: 4px;
    margin-left: 40px;
}

#napTimeSelector{
    width: 125px;
    height: 30px;
    border-radius: 4px;
    margin-left: 55px;
}

.div1{
    background-image: url(./assets/wake_up.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    background-position: center;
    display: inline-block;
}

.div2{
    background-image: url(./assets/lunch_time.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    background-position: center;
    display: inline-block;
}

.div3{
    background-image: url(./assets/nap_time.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    background-position: center;
    display: inline-block;
}

#set-time{
    
    height: 25%;
    width: 70%;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    padding-top: 15px;
    text-align: center;
    font: normal normal 600 24px/38px Manrope;
    background-image: linear-gradient(113deg,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
    
}

#set-time:hover{
    background-image: linear-gradient(-113deg,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
}

#block{
    text-align: center;
    font: normal normal 600 24px/38px Manrope;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: violet;
    
    color: white;
    height: 10%;
    width: 18.5%;
    margin-top: 28rem;
    margin-right: 140px;
    position: absolute;
    
}



#clock-container{
    
    border-radius: 10px;
    height: 80%;
    width: 80%;
    background-color: white;
     justify-content: center;
    align-items: center; 
    display: flex;
    
    
}


.lb1{

    width: 35%;
    height: 15%;
    position: absolute;
    margin-left: 0px;
    top: 30px;
    opacity: 0.8;
    z-index: -1;
    border-radius: 10px;
    background-color: white;
}

.lb2{

    width: 25%;
    height: 15%;
    position: absolute;
    margin-left: 0px;
    top: 35px;
    opacity: 0.4;
    z-index: -2;
    border-radius: 10px;
    background-color: white;
}


#clock1{
    width: 15%;
    height: 90%;
    float: left;
    color: #3D087B;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    
    padding: auto;
    
}


#clock2{

    width: 15%;
    height: 70%;
    float: left;
    color: violet;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    
    background-image: url(./assets/lightbg.png);
    
    
    

}

.dot{
    width: 2%;
    height: 100%;
    float: left;
    color: black;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 0%;
    
}

.hide{
    width: 2%;
    height: 100%;
    float: left;
    color: white;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 0%;

}

#clock3{

    width: 15%;
    height: 70%;
    float: left;
    color: violet;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    
    background-image: url(./assets/lightbg.png);
    
    

}


#clock4{

    width: 15%;
    height: 70%;
    float: left;
    color: violet;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    background-color: violet transparent;
    background-image: url(./assets/lightbg.png);
    
    

    

}

#clock5{
    background-image: url(./assets/darkbg.png);
    
    width: 15%;
    height: 70%;
    float: left;
    color: white;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
 
}

#photo-container{
    
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 100%;
    
    /* margin-bottom: 9rem; */
    
    
}


#text-container{
    
    width: 100%;
    height: 15%;
    padding-top: 10px;
    text-align: center;
    color: #8E53F0;
    font-size: 30px;
    
}

#img-container{

    margin-left: 10px;
    width:500px;
    height:350px;
    object-fit: none;
    /* background-repeat: no-repeat; */
    
    

}



