body{
    background-color: #3D087B;
}

.main-container{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin-top: 4%;
    
    
}

.grid-container1{

    
    display: grid;
    
    width: 650px;
    height: 35rem;
    margin-left: 2rem;
    

}

.grid-container2{

    
    display: grid;
    
    width: 650px;
    height: 35rem;
    
}

#clock-pic{

    top: 59px;
left: 124px;
width: 204px;
height: 77px;
background: transparent url('assets/clock_logo.png') 0% 0% no-repeat padding-box;
opacity: 1;
    
    
}

#icon-container{

    top: 212px;
left: 124px;
width: 566px;
height: 300px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
    

}

.icon-container-inner{
    
    width: 100%;
    height: 30%;
    position: relative;
}

.icon-container-options{

    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 25px;

}

#labelWakeUp{

    top: 253px;
    left: 204px;
    width: 141px;
    height: 23px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
}

#labelLunch{
    top: 350px;
    left: 204px;
    width: 119px;
    height: 23px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
}

#labelNap{
    top: 448px;
    left: 204px;
    width: 105px;
    height: 23px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal normal 18px/28px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
}

#wakeUpTimeSelector{
    top: 242px;
    left: 385px;
    width: 281px;
    height: 45px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
}

#lunchTimeSelector{
    width: 125px;
    height: 30px;
    border-radius: 4px;
    color: #3d087b;
}

#napTimeSelector{
    width: 125px;
    height: 30px;
    border-radius: 4px;
    color: #3d087b;
}

.div1{
    background-image: url(./assets/wake_up.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    background-position: center;
    display: inline-block;
}

.div2{
    background-image: url(./assets/lunch_time.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    background-position: center;
    display: inline-block;
}

.div3{
    background-image: url(./assets/nap_time.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    background-position: center;
    display: inline-block;
}

#set-time{
       
    
    top: 634px;
    left: 211px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal 600 24px/38px Manrope;
    letter-spacing: 0px;
    background-image: linear-gradient(113deg,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
    color: #FFFFFF;
    opacity: 1;
}

#set-time:hover{
    background-image: linear-gradient(-113deg,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
}

/* #block{
    text-align: center;
    font: normal normal 600 24px/38px Manrope;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: violet;
    color: white;
    height: 10%;
    width: 18.5%;
    margin-top: 28rem;
    margin-right: 140px;
    position: absolute;
    
} */



#clock-container{
    
    border-radius: 10px;
    height: 70%;
    width: 80%;
    background-color: white;
     justify-content: center;
    align-items: center; 
    display: flex;
    
}


.lb1{

    width: 28%;
    height: 15%;
    position: absolute;
    margin-left: 0px;
    top: 35px;
    opacity: 0.8;
    z-index: -1;
    border-radius: 10px;
    background-color: white;
}

.lb2{

    width: 25%;
    height: 15%;
    position: absolute;
    margin-left: 0px;
    top: 42px;
    opacity: 0.4;
    z-index: -2;
    border-radius: 10px;
    background-color: white;
}


#clock1{
    width: 15%;
    height: 90%;
    float: left;
    color: #3D087B;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    
    padding: auto;
    
}


#clock2{

    width: 15%;
    height: 70%;
    float: left;
    color: #3D087B;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    background-image: url(./assets/lightbg.png);  
    

}

.dot{
    width: 2%;
    height: 100%;
    float: left;
    color: black;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 0%;
    
}

.hide{
    width: 2%;
    height: 100%;
    float: left;
    color: white;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 0%;

}

#clock3{

    width: 15%;
    height: 70%;
    float: left;
    color: #3D087B;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    
    background-image: url(./assets/lightbg.png);
    
    

}


#clock4{

    width: 15%;
    height: 70%;
    float: left;
    color: #3D087B;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    background-color: violet transparent;
    background-image: url(./assets/lightbg.png);
    
    

    

}

#clock5{
    background-image: url(./assets/darkbg.png);
    
    width: 15%;
    height: 70%;
    float: left;
    color: white;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
 
}

#photo-container{
    
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 80%;
    margin-bottom: 9rem;
    
    
}


#text-container{
    /* border: 2px solid greenyellow; */
    width: 100%;
    height: 15%;
    padding-top: 10px;
    text-align: center;
    color: #8E53F0;
    font-size: 30px;
    
}
#greetings{
    top: 549px;
    left: 149px;
    width: 268px;
    height: 34px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) 27px/34px var(--unnamed-font-family-bauhaus-hv-bt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 900 27px/34px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#block{
    
}

#img-container{

    /* margin-top: 10px; */
    width:500px;
    height:150px;
    /* object-fit: fill; */
    /* background-repeat: no-repeat; */
   
    left: 706px;

background: transparent url('assets/lunch_image.png') 0% 0% no-repeat padding-box;
opacity: 1;
    

}



